
/* Importação google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS RESET*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1em; /*equivale a 16px*/
}

/* Layout */
.Container {
    margin: 0 auto;
    background-color: rgb(115, 183, 228);
}

.Flex {
    display: flex;
    justify-content: space-between;
    background-color: #a9a9a9;
}

/* topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 5px;
}

/* Smartphone Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Cabaçalho */
header {
    height: 60px;
}

#logo img {
    width: 120px;
    height: 120px;
}

/* Smartphone Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    body{
        background-color: red;
    }
    /* Layout */
    .Container{
        max-width: 540px;
    }
}
/* Tablet Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    body{
        background-color: yellow;
    }
    /* Layout */
    .Container {
        max-width: 720px;
    }
}
/* Tablet Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
    body{
        background-color: green;
    }
    /* Layout */
    .Container {
        max-width: 960px;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
    body{
        background-color: gray; 
    }
    /* Layout */
    .Container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 120px;
    }

    #logo img {
        width: 189px;
        height: 189px;
        margin: 30px;
    }
}
